*{
  margin:0;
  padding:0;
}
body{
  min-height:100vh;
  background-color: rgb(250, 250, 250);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  nav{
background-color: whitesmoke;
box-shadow: 3px 3px 5px rgba( 105, 105, 105); 
} 
nav ul{
  width:100%;
  list-style:none;
 display: flex;
 justify-content: flex-end;
 align-items:center;
}
 nav li{
  height:50px;
}
nav a{
  height:100%;
  padding:0 30px;
  text-decoration:none;
  display: flex;
  align-items:center;
  color:grey
}
nav a:hover{
  color:black;
}
nav li :first-child{
  margin-right:60%;
}
 .menu :focus,
  .menu :active{
  background:black;
  color:white;
  border:2px;
 }
.sidebar{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:250px;
  z-index:999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter:blur(10px);
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:flex-start;
}
.sidebar li{
  width:100%;
}
.sidebar a{
  width:100%;
}
.menu-button{
  display:none
}

@media(max-width: 800px){
  .hideOnMobile{
    display:none;
  }
  .menu-button{
    display:block;
  }
  .hero-img{
    display:flex;
  }
}
@media (max-width:480px) {
  .hideOnMobile{
    display:none;
  }
  .menu-button{
    display:block;
  }
  .hero-img{
    display:flex;
  }
}

 .logo{
  margin-right:60%;
  font-weight:200px;
} 

.section{
  margin:5rem;
}


